

@media only screen and (max-width:1200px) {
  .page-node-2 h1,h1{padding:85px 9% 3% 9%;}
  header .logo{ margin-left:0;}
  .sf-menu ul li a{ padding-left:32px !important;}
  .sf-menu.sf-style-default a{padding:13px 27px }
  .primary-footer .followus-footer li{ margin-right:10px;}
  .editor-para-content{ width:88%;} 
   
  
    .container,.navbar.container,.region-footer{width:100% !important; max-width:100% !important;}
    
    /* Home Page */
   #block-views-banner-block .homeban-heading{ 
     .container{ padding:0 10%;}
     }
     .Company-logo-section a{ margin-right:3%;}
     .slider_images_with_description_ .slider-descp{ top:15%;}
      .text_image {
        .left-section{ overflow:hidden;}
        .right-text-para{
          h2{ text-align:left;} }
        
      }
    
    // .half_image_left .field-type-image img{}
    .navscroll .menu{
      li a{ padding:13px 19px !important;}
      li li a{ padding:13px 30px !important; }
      .phone-tab{ margin-left:5px !important;} 
      
    }
    
} 

@media all and (max-width:1024px) and (min-width:971px) {
  h1,.ban-title .banner-title,h1.page-header{ font-size:34px !important; line-height:44px;} 
  .half_image_left .field-type-image img{ left:-560px !important;}
    .pagination{ width:135%;}
.region-sidebar-second li a{ font-size:14px;}
}
@media all and (max-width:1024px) and (min-width:768px) {
  .page-blog .col-md-9 .view-content,.node-type-blog .col-md-9  .default-content{ overflow:hidden;}
  .view-case-overview .views-row-odd .col-lg-7 img{ left:-520px;}
}

@media all and (max-width:970px) {
  h1,.ban-title .banner-title,h1.page-header{ font-size:34px !important; line-height:44px;}
  h2,.page-blogs h1{ font-size:28px; line-height:35px;}
  h3{ font-size:17px; line-height:28px;}
  body{ font-size:14px; line-height:24px;}
  .ban-title .opt-title{ margin-top:15px;}
   header .logo{ padding-top:0px;}
    .sf-menu.sf-style-default a{ padding:13px 26px; font-size:16px;}
.get-content-wrapper{ padding-bottom:30px; margin-top:97px;} 
.get-content-wrapper .getin-touch{ padding-top:30px;}
.node-webform.container .webform-first h2{ padding-bottom:28px;}
.node-webform.container{ padding:50px 0;}
.node-webform.container .webform-first h2 + p{ margin-top:-25px;}
.contact-map{ 
   padding-top:25px;
   ul{ padding-bottom:37px;}
  }
  .footer{
    .primary-footer{  padding:35px 0 55px 0;}
    .region-footer{ width:100% !important;}  
 }  
 .contact-map li a{ height:58px; 
  &:hover img{margin-top:-57.5px; }}
  
  /* Home Page  */
 .phone-tab{margin-left:0 !important;}
 h1{ padding-top:92px;}

  .half_image_right,.half_image_left ,.slider_images_with_description_,.text_image,.three_images_text,.text_with_description,
   .text_with_background_image     { margin-top:100px;}    
      .paragraph-items>.gray,.paragraph-items>.red{ padding:100px 0;}
.slider_images_with_description_ .slider-descp{ top:12%;}
.half_image_left .field-type-image img{ left:-380px !important;}
.not-front .main-container #page-header{min-height:300px; }
 
 
 .pagination{ width:135%;}
.region-sidebar-second li a{ font-size:14px;}

}

@media all and (max-width:885px) {  
    .sf-menu.sf-style-default a{ padding:13px 16px;}  
   .contact-map li a{ height:58px; 
  &:hover img{margin-top:-57.5px; }}  
  .Company-logo-section a{ margin-right:1.5%;}
  .organistion{ padding-left:0;}
  .organistion h2{ font-size:24px;}
  .text_with_background_image .description{ top:10%;}
  .half_image_left .field-type-image img{ left:-430px !important;}
  .slider_images_with_description_{
      .slider-descp{
    h2{ font-size:26px !important;}
  }
  .flex-prev{ left:2% !important;}
    .flex-next{ right:2% !important;}
}

    .navscroll{      
     .menu{
      li a{ padding:13px 14px !important;}
      li li a{ padding:13px 30px !important; }
    }
    .phone-tab{margin-left:0 !important;}
    }
 
  }

@media all and (max-width:768px) {
  
.text_image {
  .col-md-8{ float:none; margin:0 auto; 
  img{width:100% !important; }}
  .full-image{
    img{width:100% !important; }
  }
 
}



}
@media all and (max-width:767px) {
  
  #navbar{    background:#34495e;  padding-top:2px;  }
  .navbar{ margin:10px 0 0 0 !important;
     .logo{ margin-top:0px;  margin-bottom:1px;
      }}
     .sf-menu.sf-style-default{ margin-top:4px;}
   .sf-menu.sf-style-default{ width:100%;}
  .sf-menu.sf-style-default li{ float:none; width:100%;} 
   .navbar-collapse,.navbar-collapse.in{ padding:0; border:none !important; box-shadow:none;}   
   .menu{
     background:#fff !important; padding-top:0 !important;
     li{ border-top:1px solid #dcdcdc;    
     ul{ position:static; width:100%; padding:0 3px !important; 
     li{ border-bottom:none; background-color:none; padding-left:20px;         
         a{ color:#34495e !important;   background:url('../images/submenu-arrow.png') left center no-repeat !important; padding-left:9px !important;
           &:hover{color:#34495e; background-color:transparent !important;
             background:url('../images/submenu-arrow-hover.png') left center no-repeat !important; }}
         }
    
     }
       }
       li .sf-sub-indicator{ display:block !important; background-image:url('../images/submenu-active.png') right 1px no-repeat !important; text-indent:-999px;
                             width:16px; height:16px; margin-right:5px; }
     a{ color:#34495e !important;}
     
   }
     li a:hover,li li a:hover   { color:#f9b233 !important;}
     .btn:hover{ color:#fff !important;}
 
.sf-menu.sf-style-default li li:hover {background-position:-20px; color:#f9b233 !important;}
 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background:none;}
  .page-node-2 .main-webform-content > p{ padding:0 11%;} 
  .get-content-wrapper{ margin-top:70px;}
   .organistion{ padding:80px 10px;}
  
    #block-block-3{ display:none;}
  #block-block-4 .followus-footer li{ background:none; padding-left:0; margin-right:4px;}
  .followus-footer li a img{    width:25px; height:25px;   }
  .page-node-2 h1{ padding-top:58px;}
  .get-content-wrapper{ margin-top:88px;}
  #block-block-2{ width:25%;}
  #block-block-4{ width:50%;}
  #block-webform-client-block-7{ width:25%;}
  .editor-para-content{ width:91%;}  
  .contact-map li a{ height:58px; 
  &:hover img{margin-top:-57.5px; }}  
  .node-webform.container{ padding:50px 0 75px 0 !important;}  
  .primary-footer{
    .newsletter{ padding-top:5px;}
    .followus-footer{ padding-top:0;
      ul{ padding-top:8px !important;}}
      .btn{ padding:6px 20px;}
  }
  /* Home Page  */
   #block-views-banner-block .homeban-heading{ 
   p{ font-size:20px; padding:0 20px;}
     }
     h1{ padding-top:80px;}
  .half_image_right,.half_image_left ,.slider_images_with_description_,.text_image,.three_images_text,.text_with_description,
   .text_with_background_image     { margin-top:90px;}    
      .paragraph-items>.gray,.paragraph-items>.red{ padding:90px 0;}      
  .paragraph-items {
    h2{ margin-top:5px;}
    .half_image_right .left { margin-bottom:40px;} 
  }
   .not-front .main-container #page-header{min-height:200px; }
  .Company-logo-section{
    padding:40px 0;
    a{ padding:2% 0%; margin-right:10%; display:inline-block; }
  }
  .slider_images_with_description_ .slider-descp .slider-desc-txt{
    width:100%;
    h2{ font-size:26px;}
  }
  .flexslider .slides img{ height:395px !important;}
  .organistion h2{ font-size:19px;}
  .text_with_background_image .back-image img{ height:438px !important;}
  .text_with_background_image .description{ top:50px;}
   .three-col-img{ padding-bottom:0px !important;}
   .first-col,.second-col { padding-bottom:35px !important;}
  .text_image .full-text-top{ width:94%;}
   .half_image_left .field-type-image img{ position:relative; padding-bottom:20px; left:-18% !important;}
   
   
   /*  For Blog Page */
   .region-sidebar-second{ margin-top:39px;}
   
   .profile-blog-section{
         .profile-img,.profile-content{ width:100%;}
         .profile-content{ margin-top:25px; clear:both; display:inline-block;}
   }
   
.pagination{ width:100%;}
   
}
} 


@media all and (max-width:480px) {
 
#navbar{ padding-top:0;  }
  h1,.ban-title .banner-title,h1.page-header{ font-size:28px !important; line-height:35px;}
  .logo { padding-top:8px !important;
    img{ width:170px; height:25px; }
  }
  .navbar-toggle{ margin-right:5px; margin-top:12px;}  
    .banner-image img{ height:320px;}    
    .contact-map li{ margin-right:20px; margin-left:10px;
    a{ height:36px; 
  &:hover img{margin-top:-36.5px; }}
    }    
    
    

     
.breadcrumb{ display:none;}
.page-node-2 h1{padding-top:40px;}     
.get-content-wrapper{ margin-top:44px;}
#block-block-2,#block-block-4, #block-webform-client-block-7{ width:100%;}

.page-node-2 h1{ padding-left:8px; padding-right:8px;}
.editor-para-content,.full-text-top{ width:100%;}

    /* Home Page */
   #block-views-banner-block .homeban-heading{ 
     .container{ padding:0;}
      p{ padding:0 5px; font-size:15px;}
     }
     .container{
     .col-xs-12{
       padding:0 5px;
     }
     }
     .text_with_background_image{
            .container{
     .col-xs-12{
       padding:0 15px 0 5px;
     }
     }
     }
    h1{ padding:40px 3% 40px 3%;}
    .Company-logo-section{
      a:first-child{ display:block; text-align:center;
      img{ width:125px !important;}}
    }
  .half_image_right,.half_image_left ,.slider_images_with_description_,.text_image,.three_images_text,.text_with_description,
   .text_with_background_image     { margin-top:45px;}    
      .paragraph-items>.gray,.paragraph-items>.red{ padding:45px 0;}
     .three_images_text {      
       .three-col-img{ padding-bottom:0px;}       
     }     
      .half_image_left .field-type-image img{ position:relative; padding-bottom:20px;}
      .text_image  {
        img{ width:100% !important;}
        .right-text-para{ padding-top:25px;}        
      }
      .organistion{ padding:45px 10px;
      h2{ line-height:1.3; margin-bottom:12px; text-align:left;}}      
      
.flex-direction-nav{ display:none;}

  /*  Blog Page  */
 
 #atstbx>a{ display:block; width:100%; padding-top:5px;}
 #block-views-blog-terms-block,#block-views-blogs-block-1{ padding-bottom:0 !important; }
 #block-views-blog-terms-block{ margin-bottom:22px;}
 .side-effects{ cursor:pointer; background:url('../images/right-sidebar-icon.png') right 12px no-repeat;
 h3{ padding-bottom:7px !important; }}
 
}
@media all and (max-width:360px) {
  .half_image_left .field-type-image img{ left:-75% !important;}

}
